---
layout: layouts/base.njk
css : 'comment'
tags: views
title : 'Comment'
description : 'A comment view is used to display lists of user feedback to site content'
type : 'UI View'
---

<div class="main container">

  <h2 class="ui dividing header">Colors</h2>

  <div class="ui segment">
    {% for color in colors %}
    <h3>{{color.name}}</h3>
    <div class="ui grid">
      <div class="row">
        {% for shade in color.shades %}
        <div class="column" style="padding: 0; width: 30px;">
          <div color-sample
            style="height: 30px; width: 30px; background-color: var({{shade.split(':')[0] }});">
          </div>
          <div style="height: 30px; width: 30px; background-color: var({{shade.split(':')[0] }});">
          </div>
          <p class="ui small pointing label" style="margin-bottom: 4px;">
            {{shade.split('-')[4].split(':')[0]}}</p>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<style>
  .column:nth-of-type(1) [color-sample]::after {
    content: 'hifi';
    left: -1.5em;
    position: absolute;
  }

  .column:nth-of-type(1) [color-sample]~div::after {
    content: 'lofi';
    left: -1.5em;
    position: absolute;
  }
</style>
